<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>btApiKey</key>
  <string>REPLACE WITH PUBLIC API KEY</string>
  <key>privateBtApiKey</key>
  <string>REPLACE WITH NON-PUBLIC API KEY</string>
  <key>proxyKey</key>
  <string>REPLACE WITH PROXY KEY POINTING TO https://echo.basistheory.com/post WITH AUTH</string>
  <key>proxyKeyNoAuth</key>
  <string>REPLACE WITH PROXY KEY POINTING TO https://echo.basistheory.com/get WITHOUT AUTH</string>
</dict>
</plist>
